* {
  box-sizing: border-box;
}
body{
  margin: auto;
  text-align: center;
}

.form-section {
  margin: auto;
  border: 1px solid black;
  text-align: center;
  width: 320px;
  padding-bottom: 20px;
}
.addContact-btn {
  margin: 10px auto;
  display: block;
}
button {
  margin: 10px
}
li {
  margin:  auto;
  padding: 0;
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center


}
ul
{
margin: 30px auto;
padding: 0;
}